:root {
  --border: 0.5px solid white;
  --linkColor: #fd89b3;
  --menuColor: #7d2d49;
}

.App {
  height: 100vh;
  font-family: "Red Hat Mono", monospace;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  overflow: hidden;
  background-image: url(./ShinyMonster.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--menuColor);
}
.container {
  width: 80%;
  height: 55%;
  margin: 0 auto;
  margin-top: 30px;
}
footer {
  margin: 8px auto;
  font-size: 10px;
  line-height: 15px;
}
.footer-content {
  display: flex;
}
@media (max-width: 1050px) {
  .container {
    width: 83%;
    margin-top: 45px;
  }
  footer {
    font-size: 11px;
    line-height: 16px;
  }
  .footer-content {
    display: block;
  }
  .footerDot {
    display: none;
  }
}
@media (max-width: 996px) {
  .App.menu-open {
    background-image: none;
    background-color: var(--menuColor);
  }
  .container {
    width: 80%;
  }
}
@media (max-width: 750px) {
  .App {
    background-image: url(./ShinyMonster-mobil.jpg);
    background-position: right;
  }
  .App.menu-open {
    background-image: none;
    background-color: var(--menuColor);
  }
  .container {
    width: 94%;
    margin-top: 10px;
  }
}
@media (max-width: 338px) {
  .container {
    width: 97%;
    margin-top: 5px;
  }
  footer {
    font-size: 9px;
  }
}
