.navbar {
  background-color: transparent !important;
  border-color: transparent !important;
  margin: 0 auto;
  margin-left: -12px;
  margin-right: -42px;
  height: 60px;
}
.navbar-nav .nav-link {
  color: white !important;
  font-size: 12px;
  line-height: 16px;
  margin-right: 20px;
  margin-bottom: -32px;
}
.nav-item.start {
  display: none !important;
}
.shpLogo {
  width: 227px;
  height: 22px;
  margin-bottom: -18px;
}
.nav-link:hover {
  color: var(--linkColor) !important;
}
.navbar-toggler-icon {
  width: 30px;
  height: 30px;
  position: relative;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  margin-right: -7px;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler-icon:active {
  outline: none;
  border: 0;
  box-shadow: none;
}
@media (max-width: 1050px) {
  .navbar {
    margin: 0 -21px 15px -9px;
  }
  .navbar-nav {
    margin-right: -18px;
  }
  .nav-link:hover {
    color: white !important;
  }
}
@media (max-width: 996px) {
  .navbar-toggler-icon {
    margin-bottom: -16px;
  }
  .Navbar {
    margin: 0 12px 0 12px;
    margin-bottom: -16px;
  }

  .navbar-nav .nav-link {
    background-color: var(--menuColor);
    padding: 40px 25px 40px 100px;
    margin-right: 27px;
    margin-top: 4px;
    display: flex;
    justify-content: flex-end;
  }
}
@media (max-width: 338px) {
  .navbar-toggler-icon {
    width: 25px;
    height: 25px;
  }
}
